/*resete do CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #3399ff ;
    background-size: auto 100vh ;
    font-family: 'Share Tech Mono', monospace;
    height: 100vh;
  }
  
  @media (min-width: 400px) {
    body {
      font-size: 15px;
    }
  }

  @media (min-width: 600px) {
    body {
      font-size: 19px;
    }
  }

  @media (min-width: 1000px) {
    body {
      font-size: 22px;
    }
  }

  /*para alinhar vertical e horizontalmente*/
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    display: block;
    /*background-color: rgb(119, 239, 255);*/
    padding: 10px 20px;
  }

  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: red;
  }
  
  .sub-titulo,
  .titulo {
    color: whitesmoke;
    text-align: center;
    font-family: 'VT323', monospace; 
    font-size: 3em;
  }
  
  .sub-titulo {
    font-style: italic; 
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
  }

  .portfolio {
    padding: 2em;
    height: 100vh;
  }

  .portfolio h2 {
    font-family: 'Share Tech Mono', monospace;
    color: whitesmoke;
    padding-top: 0.3em;
    padding-bottom: 1em;
    font-weight: 1.2em;
  }
  
  .portfolio .grid {
    display: grid;
    gap: 2em;
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
      align-content: center;
      height: calc(100vh - 44px - 8em);
    }
  }

  @media (min-width: 730px) {
    .portfolio .grid {
      grid-template-columns: repeat(2, 295px);
      justify-content: center;
      align-content: center;
      height: calc(100vh - 44px - 8em);
    }
  }

  @media (min-width: 1000px) {
    .portfolio .grid {
      grid-template-columns: repeat(2, 340px);
      justify-content: center;
      align-content: center;
      height: calc(100vh - 44px - 8em);
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: ;
    /*para aredondar bordas altere o número*/
    border-radius: 10%;
  }  
  
  @media (min-width: 730px) {
    .img-portfolio {
      height: 200px;
      width: 260px;
    }
  }

  @media (min-width: 1100px) {
    .img-portfolio {
      height: 220px;
      width: 280px;
    }
  }